.headerContainer {
  height: 5vh;
  width: auto;
  color: #fff;
  font-weight: bold;
  padding-right: 15px;
  padding-top: 15px;
  display: flex;
  justify-content: flex-end;
  .languageChanger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 8px;
  }
  .languageButton {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 3px;
    color: #000;
    font-weight: 100;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    font-size: small;
    font-weight: bold;
    box-shadow: 5px 3px 3px black;
    user-select: none;
    text-decoration: none;

    &:hover {
      background-color: #aaa;
    }
    &:active {
      background-color: #999;
      color: #ddd;
    }
  }
}
.selectedLanguageButton {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 3px;
  color: #fff;
  font-weight: 100;
  border-radius: 4px;
  background-color: #222;
  cursor: pointer;
  font-size: small;
  font-weight: bold;
  box-shadow: unset;
  user-select: none;
  text-decoration: none;
  &:hover {
    background-color: #444;
  }
  &:active {
    background-color: #333;
    color: #ddd;
  }
}

@media screen and (max-width: 768px) {
  .headerContainer {
    font-size: small;
  }
  .languageButton {
    padding: 4px;
    margin: 4px;
    font-size: small;
  }
}
